.ipynb_checkpoints\Ch. 2-10 FInancial Statement Homework-checkpoint.ipynb
.ipynb_checkpoints\Ch. 3-1 Matrices-checkpoint.ipynb
.ipynb_checkpoints\Ch. 3-2 Dictionaries & Matrix Operations & Visualizations-checkpoint.ipynb
.ipynb_checkpoints\Ch. 3-3 HW -checkpoint.ipynb
.ipynb_checkpoints\Ch. 4-1 Importing data & Dataframes-checkpoint.ipynb
.ipynb_checkpoints\Ch. 4-2 Dataframe manipulation-checkpoint.ipynb
.ipynb_checkpoints\Ch. 4-3 Basic Datafram Operations & Filtering-checkpoint.ipynb
.ipynb_checkpoints\Ch. 4-4 Visualizing with Seaborn-checkpoint.ipynb
.ipynb_checkpoints\Ch. 4-5 HW World Trends-checkpoint.ipynb
.ipynb_checkpoints\Ch. 5-1 Categorical Data - Joint Plots - Histograms-checkpoint.ipynb
.ipynb_checkpoints\Ch. 5-2 Kernel Density Estimate Plot-checkpoint.ipynb
.ipynb_checkpoints\Ch. 5-3 Violin vs Box Plots & Facet Grids-checkpoint.ipynb
.ipynb_checkpoints\Ch. 5-4 Coordinates & Diagonals & Dashboards & Styling-checkpoint.ipynb
.ipynb_checkpoints\Ch. 5-5 Homework Movie Percent Domestic Gross-checkpoint.ipynb
